//Site main content
main#site-main
	.l-card-holder


		// iteration cards / array with card name - discription - imgSrc - link to page
		-
			var catVar = [
			['Печати','Изготовление печатей и штампов из полимера и резины.','gal-stamp.svg','stamp'],
			['Штампы','Изготовление штампов из полимера и резины.', 'gal-stamp2.svg'],
			['Визитки','Цифровая и офсетная печати, шелкография, тиснение, конгрев.', 'gal-vis.svg'],
			['Пломбиры','Гравировка на меттале','gal-plombir.svg'],
			['Пломбираторы','Односторонние и двухсторонние','gal-plombirator.svg'],
			['Самокопирка','Двух и трехслойная, офсетная печать.', 'gal-samokopirka.svg'],
			['Открытки и Брошюры','Изготовление от одной штуки.', 'gal-otkritki.svg'],
			['Таблички','Графировка на пластике, накатка на пластик.', 'gal-tables.svg'],
			['Доставка','по Москве', 'gal-delivery.svg']];

		//print cards
		- for (var i=0; i < catVar.length; i++) {var catItem = catVar[i];

		a(href=catItem[3] + ".html").cat-card
			.div
				//img.cat-card__img(src="../img/assets/" + catItem[2])
				.cat-card__text
					p #{catItem[0]}
					p #{catItem[1]}
		- };

		.gallery
			ul
				li.gallery-item
				li.gallery-item
				li.gallery-item
				li.gallery-item
				li.gallery-item
				li.gallery-item
				li.gallery-item
				li.gallery-item
				li.gallery-item

		.l-fidback.is-white-bg
			.container
				//feedback form
				form.feedback-form
					fieldset.feedback-form__fieldset
						legend.feedback-form__legend
							h1 Напишите нам

						label.feedback-form__label(for='email') Укажите ваш e-mail или телефон и мы с Вами свяжемся
						input.feedback-form__input(type='email',
							id='email',
							name='email')

						label.feedback-form__label(for='userMessage') Ваше сообщение
						textarea.feedback-form__textarea(
							id='userMessage',
							name='bio')

						button(type='submit').feedback-form__send-btn.btn Отправить

	//End site main
